.l-main {
  background-image: url(../../../images/AdminLogin.jpg);
  background-size: cover;
  height: 100vh;
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 90px;
  width: 100%;
}
.l-field {
  display: flex;
  align-items: center;
  height: 550px;
  width: 400px;
  justify-content: center;
  border-radius: 25px;
  background-color: #d9d9d9;
}
.l-logo {
  padding-top: 10px;
  justify-content: center;
  display: flex;
  margin: 30px;
}
.logo-c {
  border-radius: 150px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 115px;
  width: 115px;
}
.logo-img {
  height: 100px;
  width: 100px;
  border-radius: 130px;
  top: 60px;
  bottom: 50px;
  margin: 10px;
}
.l-title {
  color: #122947;
}
.user {
  left: 1.5rem;
  padding-left: 3rem;
}
.l-icon {
  position: absolute;
  top: calc(35%);
  left: 1.25rem;
  z-index: 100;
  color: gray;
}
.input-f {
  position: relative;
  margin: 10px;
  width: 250px;
}
.input-f .form-c {
  left: 1.5rem;
  padding-left: 3rem;
  font-size: medium;
}
.l-button {
  height: 50px;
  width: 150px;
  background-color: #122947;
  font-size: 30px;
  color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
