/* Add a title for the table */
.property-table-title {
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
  }

/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Style the table cells */
td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

 /* Add a grey background to the table header */
 th {
    background-color: #dddddd;
    font-weight: bold;
    padding: 12px;
 
}


