/* Body */
.tenant-signin {
  background-image: url("https://images.unsplash.com/photo-1560520653-9e0e4c89eb11?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 2;
  padding-top: 70px;
  height: 150vh;
  overflow: hidden;
}

.tenant-signin-inner {
  display: flex;
  padding: 10px;
  max-width: 1400px;
  margin: auto;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .tenant-signin {
    background-size: cover;
  }
}

.tenant-signin .welcome {
  color: #fff;
  text-align: center;
  font-size: 40px;
  flex: 1;
  margin-top: 80px;
  font-style: italic;
}

.tenant-signin form {
  background-color: #d9d9d9;
  max-width: 600px;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto;
}

.tenant-signin .sub-main {
  flex: 1;
}

.tenant-signin .title {
  text-transform: none;
}

.tenant-signin .logo-container {
  width: 100%;
}

.tenant-signin .logo-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.tenant-signin .btn {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 18px;
}

.tenant-signin .inputs {
  position: relative;
}

.tenant-signin input {
  padding-left: 40px !important;
  box-shadow: #0000001a 0px 10px 10px 0px;
}

.tenant-signin .bx {
  position: absolute;
  left: 16px;
  top: 24px;
  font-size: 20px;
}

.tenant-signin .forgot-password {
  margin: 30px 0;
  text-align: center;
}

@media (max-width: 600px) {
  .tenant-signin {
    flex-direction: column-reverse;
  }
  .tenant-signin .welcome {
    display: none;
    margin-top: 40px;
    margin-bottom: 40px;
    flex: 0;
  }
  .tenant-signin form {
    margin-top: 20px;
  }
}
