.houses h4 {
  color: black;
  padding: 15px;
  padding-left: 25px;
}

.houses h6 {
  font-size: 15px;
  font-weight: lighter;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
  width: 100%;
}

.card {
  margin: 20px;
  margin-top: 50px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
  width: 30%;
  background-color: #fff;
}

.card:hover {
  transform: scale(1.07);
}

.hse-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cardInfo {
  justify-content: space-around;
  margin-top: 0%;
}

.estate {
  color: grey;
  text-transform: Capitalize;
  margin-top: 0;
  margin-left: 0px;
  font-size: 15px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
}

.infoSections {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.infoicons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  font-size: larger;
}

.section1,
.section2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.symbol {
  padding: 10px;
  padding-left: 0px;
  color: #ffd700;
  font-weight: bold;
}

h6 {
  font-size: 15px;
  font-weight: lighter;
}

.price-button {
  color: white;
  border: none;
  margin: 0px;
  margin-top: 15px;
  background: #122947;
  border-radius: 8px;
  padding: 10px 20px;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .card {
    width: 80%;
  }
}
