
  
  .form{
    max-width: 790px;
    background-color: #122947;
    margin: 2vh auto 0 auto;
    padding: 90px;
  
  
  }
  
  input{
    display: flex;
    padding: 10px;
    margin: 15px  ;
    border-radius: 10px;
  }
  
  .overlay h2{
    text-align: center;
    font-weight: 400;
  }
  
  textarea {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  
  }
  
  #btn{
    color: #122947;
    background-color: #fff;
    border-radius: 10px;
    display: block;
    float: right;
    margin: 5px 0;
    padding: 7px;
  }
  
  .overlay{
    display: flex;
    flex-direction: column;
    padding: 90px;
   
  }
  
  
  
  #form_card{
    display: flex;
    width: 100%;
    justify-content: space-around;
  
  }
  
  #message{
    padding: 10px;
  }
  
  
  
  @media screen  and (max-width: 760px){
    #form_card{
      display: block;
      margin: auto;
      
      width: 100%}
  
      textarea {
        height: 90px;
        width: 100%;
        border-radius: 7px;
        
        }
        .textarea_part button{
          margin-right: 80px;
        
        }
        input{
          display: flex;
          border-radius: 10px;
          width: 100%;
          margin-right: 70px;
        }
  
        form{
          width: 100%;
          background-color: #122947;
          margin: 2vh auto 0 auto;
          padding: 90px;
        
        
        }

  }